#debug-panel{
	clear:both;
	border-top:4px solid #404040;
	padding-top:10px;
	overflow:hidden;
	margin-bottom:50px;
	margin-top:20px;
}

.debug-sub-panel{
	float:left;
	padding:10px;
	border:1px solid grey;
	margin:8px;
	background:white;
	color:#303030;
	border-radius:3px;
}

.debug-sub-panel em{
	color:#5a7fbc;

}

.debug-sub-panel i{
	color:#f63c3c;

}

.debug-sub-panel h3,.debug-sub-panel h4{
	background:#303030;
	color:white;
padding:5px;
	border-radius:3px;
	margin-bottom:10px;
	margin-top:10px;
	font-size:18px;
}

.debug-sub-panel h4{
	background:#606060;
	font-size:14px;
}

.debug-sub-panel h5{
	background:#f63c3c;
	color:white;
padding:5px;
	border-radius:3px;
	margin-bottom:10px;
	margin-top:10px;
	font-size:18px;
}

.debug-sub-panel > .debug-sub-panel{
	border:1px solid red;
	background:#f0f0f0;
}

.debug-sub-panel > .debug-sub-panel > .debug-sub-panel{
	border:1px solid blue;
	background:#e0e0e0;
}

.debug-error-panel{
	position:fixed;
	top:50px;
	left:5px;
	width:40px;
	height:40px;
	line-height:37px;
	font-size:36px;
	z-index:999;
	background:red;
	color:white !important;
	text-align:center;
	border-radius:20px;
	text-decoration:none !important;
}

.debug-error-panel:hover{
	color:white;
	font-weight:bold;
}