html{

	font-family: Verdana, Geneva, sans-serif
}


body{margin:0px;position:relative;}

a,a:visited{text-decoration:none;color:#202020;}

a:hover{
	color:#101010;
}

td{
	padding-right:10px;
	padding-left:10px;
}
.navbar-center{
	margin-left:auto;
	margin-right:auto;
	width:960px;
}

.bold{
	font-weight:bold;
}

.main{
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	min-height:300px;
	padding-bottom:10px;
	border:1px solid #d0d0d0;
	padding:10px;
	border-radius:3px;
	overflow-x: scroll;
	
}

.form-inline{
	font-size:11px;
	color:#606060;
}

.clear{
	width:100%;
	height:2px;
	overflow:hidden;
	clear:both;
}

.thirds{
	float:left;
	width:32%;
	margin-right:1%;
}

.main.bigtop{
	margin-top:80px;
}

.terms-text{
	width:780px;
	height:800px;	
}

.deal-section-wrap{
	margin-top:80px;
	min-height:200px;
	padding:10px;

}

.deal-section-wrap:nth-child(odd)
{
background:#ffffff;
}
.deal-section-wrap:nth-child(even)
{
background:#f0f0f0;
}

.leftpanel{
	float:left;
	width:31%;
	margin-left:0%;
	margin-right:2%;
}
.rightpanel{
	float:left;
	width:65%;
	margin-left:0%;
	margin-right:2%;
}

.deal-section-textarea textarea{
	width:900px;
	height:300px;
}

.page-c-wrap{
	line-height:30px;
}

.pager-page-picker{
	width:80px;
}

.btn-space{
	margin-left:5px;
	margin-right:5px;
}

.leftnav{
	position:fixed;
	top:0px;
	left:0px;
	width:90px;
	height:100%;
	background:#2c2c2d;
}

.leftnav a,.leftnav a:visited{
	display:block;
	position:relative;
	width:90px;
	height:65px;
	color:#aaaaaa;
	text-decoration:none;
	margin-bottom:5px;

}

.leftnav a:hover{
	text-decoration:none;
	color:#cacaca;
}

.leftnav b{
	position:absolute;
	bottom:0px;
	left:0px;
	width:90px;
	text-align:center;
	color:#cacaca;
	font-weight:normal;
	font-size:11px;
}

.leftnav img{
	margin-left:15px;
	width:59px;
	margin-top:5px;
}

.padfix{
	overflow:hidden;
	width:100%;
	height:60px;

}


.leftnav i{
	width:90px;
	height:80px;
	font-size:35px;
	text-align:center;
	line-height:60px;
	
}

.leftnav-bottom{
	position:absolute;
	bottom:10px;
	left:0px;
	width:90px;
	min-height:100px;

}

.deal-editor{
	float:left;
}
.sub-menu{
	float:right;
	width:150px;
}

.text-toolbar{
	width:100%;
	overflow:hidden;
	margin-top:10px;
	margin-bottom:5px;
}

.text-toolbar a,.text-toolbar a:visited{
	float:left;
	margin-right:5px;
	width:26px;
	height:26px;
	line-height:25px;
	text-align:center;
	border:1px solid #404040;
	border-radius:3px;
	color:#606060;
	background:#f0f0f0;
	outline:none;
}

.text-toolbar a:hover{
	box-shadow:0px 0px 4px black;
}

.text1{
	width:766px;
	min-height:300px;
	border:1px solid #d0d0d0;
	border-radius:5px;
	padding:5px;
	font-weight:normal;
	margin-left:0px;
	margin-bottom:20px;
	overflow-y:scroll;

}

.hrdiv{
	clear:left;
	width:100%;
	height:10px;
}




.sb-menu a,.sb-menu a:visited{
	display:block;
	line-height:40px;
	font-size:14px;
	color:white;
	text-decoration:none;
	border-bottom:1px solid #404040;
	text-indent:10px;

}

.left-link{
	font-size:20px;
	margin-left:10px;
	line-height:40px;
	cursor:pointer;
}

.right-link{
	font-size:20px;
	margin-right:10px;
	line-height:40px;
	cursor:pointer;
}

.sb-slidebar{
	width:200px;
}

.top-pad{
	height:50px;
	width:10%;
	overflow:hidden;
}
	#menu{
		position:relative;
		width:960px;
		background:url(../images/sharkskin.gif) repeat-x;
		color:white;
		min-height:64px;
		line-height:64px;
	}
	
	#menu a,#menu a:visited{
		padding:3px 10px 3px 10px;
		color:#BBBFC3;
		font-size:13px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
		
	}
	
	#menu a:hover{
		color:#ffffff;
		background:#9B9Fa3;
		color:#e0e0e0;
	}
	
	#menuitems{
		float:left;
		text-align:left;
		margin-left:10px;
	}
	
	#submenu{
		height:25px;
		line-height:25px;
		width:839px;
		border-bottom:1px solid #a0a0a0;
	}
	
	#submenu a,#submenu a:visited{
		padding-right:15px;
	}
	
	#submenu a:hover{
		background:#909090;
		color:white;
	}
	
	#logoff{
		position:absolute;
		top:00px;
		right:10px;
		text-align:right;
		width:300px;
		height:25px;
		line-height:25px;
		overflow:hidden;
		color:white;
	}


.userform{

}

.userform label{
	clear:both;
	float:left;
	width:200px;
}

.userform input, select{
	float:left;
	width:300px;
	border-radius:3px;
	padding:6px;
	border:1px solid #e0e0e0;
	margin-right:10px;
}

.half{
	float:left;
	width:49%;
	margin-right:1%;
	min-height:100px;
	overflow:hidden;
}
#editfaq{
	float:left;
	width:60%;
}
#editpricecomp{
	float:left;
	width:40%;
}
#editcontent{
	float:left;
	width:60%;
}
.report-half{
	width:50%;
	padding:5px;
	float:left;
}
